.lightLogo{
    height: 300px;
    display: block;
    margin: 0px auto;
    border-radius: 10px;
    background-color: #492a17;
}

nav ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    background-color: #59331D;
    text-align: center;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    padding: 10px;
    border-right: 3px solid white;
}

nav ul li:last-child{
    border-right: none;
}

nav a{
    color: #ffffff;
    display: block; 
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline 3px white;
    color: #ffffff;
}

section{
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    display: flex;
  }
 
  body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    color: white;
    text-decoration: underline;
    background-color: #131D26;
    text-indent: 8px; 
}

button{
    background-color: #131D26;
    border-radius: 5px;
    color: #ffffff;
    height: 40px;
    width: 175px;
    font-size: 25px;
    margin-top: 10px;
}

button:active{
    text-decoration: underline 3px white;
    background-color: white;
    color: #131D26;
}


.about{
    float: left; 
    width: 1500px;             
    height: 500px;
    margin-left: 150px;
}

.aboutText{
    margin-right: 350px;
}

.vertCoffee {
    float: right;
    margin-top: 78px;
}

footer {
    background-color: #59331D;
    color: #F2F2F2;            
    padding: 20px;
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
    box-sizing: border-box;
    margin-top: 100px;
}

footer p {
    margin: 0;
}

footer a {
    color: #F2F2F2;
    text-decoration: none;
    margin: 0 10px; 
}
footer a:hover {
    text-decoration: 3px underline; 
}

@media only screen and (max-width: 1000px){
    .vertCoffee{
      display: none;
    }
  }
